<launch>
  <arg name="bag_directory" default="/home/einar/Datasets/bags/"/>
  <arg name="sequence" value="harbor_sequence_2.bag"/>
  <arg name="topic" value="/camera/image_raw"/>
  <!-- <arg name="topic" value="/image_clahe"/> -->
  <arg name="output" value="/home/einar/DBoW2/demo/underwater_images/uw_full_raw/aqualoc_h2/"/>

  <node pkg="rosbag" type="play" name="rosbag" args="-d 2 $(arg bag_directory)/$(arg sequence)"/>
  <node name="extract" pkg="image_view" type="extract_images" respawn="false" cwd="node">
    <remap from="image" to="$(arg topic)"/>
    <param name="filename_format" value="$(arg output)image%i.png"/>
    <param name="sec_per_frame" value="0.2"/>
  </node>
</launch>
