<launch>
  <arg name="bag_directory" default="/home/einar/slam_ws/Datasets/aqualoc/"/>
  <arg name="sequence" value="harbor_sequence_2.bag"/>
  <arg name="topic" value="/camera/image_raw"/>
  <arg name="output" value="/home/einar/test_ws/src/DBoW2/demo/custom_images/"/>

  <node pkg="rosbag" type="play" name="rosbag" args="-d 2 $(arg bag_directory)/$(arg sequence)"/>
  <node name="extract" pkg="image_view" type="extract_images" respawn="false" cwd="node">
    <remap from="image" to="$(arg topic)"/>
    <param name="filename_format" value="$(arg output)image%i.png"/>
    <param name="sec_per_frame" value="1.0"/>
  </node>
</launch>
